footer {
    background: #1737F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        list-style: none;

        li {
            margin-right: 32px;

            a {
                display: inline-block;
                width: 30px;
                color: #fff;
                fill: #fff;

                svg {
                    width: 30px;
                    color: #fff;
                    fill: #fff;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}